.git
.gitignore
.dockerignore
.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd

# Datasets & Temporary Files
yolo_datasets/
crops_all/
debug_api/
debug_images/
yolo_train_runs/
CarPlateDetect_DATASETs/

# Large Model Files
# We do NOT ignore weights/ because we COPY them in Dockerfile
# But we can ignore temporary training backups if any
weights/last.pt
weights/best_epoch_*.pt

# Testing & Docs
test_evaluation_results.csv
README.md
RESUME.docx
