#--index-url https://download.pytorch.org/whl/cu121 
--index-url https://download.pytorch.org/whl/cu118

torch
torchvision
torchaudio

inference-sdk
tqdm
pillow
pandas
opencv-python
matplotlib
requests
editdistance
scikit-learn

# Web/API Dependencies
fastapi
uvicorn
python-multipart